@import "tailwindcss";

@utility container {
    @apply  mx-auto px-4 lg:px-2.5;
}

@layer components{
    .rtl{
        direction: rtl;
    }
}

@theme {
  --breakpoint-xs: 490px;
 
}

@layer utilities{
  .background {
    background-image: url('../images/bg/background.png');
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

